* {
    box-sizing: border-box;
    width: 80%;
    margin: auto;
}



body {
    background-color: #F0F0F0;
}

.white-header {
    top: 4.5em;
    height: 5em;
    width: 100%;
    background-color: white;
    position: relative;

}

.header-logo {
    z-index: 1000;
    position: absolute;
    height: 105px;
    width: 105px;
}

.container-logo {
    width: 100%;
}